
        <!--****************************HEADER***************************-->
        <header class="container-fluid">
            <div class="row align-items-center">
                <!--*******Première colonne*********-->
                <div class="col-12 col-md-6 darkBlock d-flex
                    align-items-center">
                    <h1>Bienvenue !</h1>
                </div>
                <!--*******Deuxième colonne*********-->
                <div class="col-12 col-md-6">
                    <h2>Lorem ypsum nac fis nesretanum pir santropus</h2>
                </div>
            </div>
        </header>
        <!--***************MAIN**************-->
        <main class="container" id="presentation">
            <div class="row">
                <div class="col-12 mb-4 d-flex justify-content-center">
                    <h2>Cocktail</h2>
                </div>
                <div class="col-12 col-md-6">
                    <div class="media my-3">
                        <span><i class="far fa-lemon"></i>
                        </span>
                        <div class="media-body ml-3">
                            <h5 class="mt-0">Fruits bio</h5>
                            <p class="text-justify">Cras sit amet nibh libero,
                                in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin. Cras
                                purus odio, vestibulum in vulputate at, tempus
                                viverra turpis. Fusce condimentum nunc ac
                                nisi
                                vulputate fringilla. Donec lacinia congue felis
                                in faucibus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="media my-3">
                        <span><i class="fas fa-glass-martini-alt"></i>
                        </span>
                        <div class="media-body ml-3">
                            <h5 class="mt-0">Des recettes inspiré</h5>
                            <p class="text-justify">Cras sit amet nibh libero,
                                in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin. Cras
                                purus odio, vestibulum in vulputate at, tempus
                                viverra turpis. Fusce condimentum nunc ac
                                nisi
                                vulputate fringilla. Donec lacinia congue felis
                                in faucibus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="media my-3">
                        <span><i class="fas fa-thumbs-up"></i>
                        </span>
                        <div class="media-body ml-3">
                            <h5 class="mt-0">Une popularité</h5>
                            <p class="text-justify">Cras sit amet nibh libero,
                                in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin. Cras
                                purus odio, vestibulum in vulputate at, tempus
                                viverra turpis. Fusce condimentum nunc ac
                                nisi<script
                                src="https://code.jquery.com/jquery-3.3.1.min.js"
                                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                                crossorigin="anonymous"></script>
                          
                                vulputate fringilla. Donec lacinia congue felis
                                in faucibus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="media my-3">
                        <span><i class="fas fa-blender"></i>
                        </span>
                        <div class="media-body ml-3">
                            <h5 class="mt-0">Une méthode</h5>
                            <p class="text-justify">Cras sit amet nibh libero,
                                in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin. Cras
                                purus odio, vestibulum in vulputate at, tempus
                                viverra turpis. Fusce condimentum nunc ac
                                nisi
                                vulputate fringilla. Donec lacinia congue felis
                                in faucibus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>


        <div class="container-fluid" id="avis">
            <div class="row">
                <div class="col-12 col-md-6 backSmoo">

                </div>
                <div class="col-12 col-md-6 feedBack text-center d-flex
                    flex-column justify-content-center">
                    <span><i class="fas fa-quote-right"></i></span>
                    <h5 class="my-4">Smoothie Barjo'</h5>
                    <p>Cras
                        purus odio, vestibulum in vulputate at, tempus viverra
                        turpis. Fusce condimentum nunc ac
                        nisi</p>
                </div>
            </div>
        </div>
        <!--************Formulaire************-->
        <div class="container-fluid" id="contact">
            <div class="row align-items-center">
                <div class="col-12 offset-md-7 col-md-4 formCont">
                    <form action="mailto:wizardry@ultima.com" method="POST"
                        enctype="text/plain">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control"
                                name="email" aria-describedby="emailHelp"
                                placeholder="Saisissez votre email">
                            <small id="emailHelp" class="form-text text-muted">Waza
                                negro !</small>
                        </div>
                        <div class="form-group">
                            <label for="sujet">Sujet</label>
                            <input type="text" class="form-control" name="sujet"
                                placeholder="Saisir votre sujet">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message</label>
                            <textarea class="form-control"
                                id="exampleFormControlTextarea1"
                                placeholder="Saisissez votre message" rows="3"></textarea>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input"
                                id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check
                                me out</label>
                        </div>
                        <button type="submit" class="btn btn-danger">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
